.todo__title {
	font-weight: bold;
	margin-bottom: 15px;
}

.todo__desc {
	margin-bottom: 10px;
	font-size: 16px;
}

.todo__progress {
	position: relative;
	height: 10px;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

.todo__progress__bar {
	position: absolute;
	display: block;
	width: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: $light-blue;
	transition: width 0.2s ease-in-out;
}